.baseImage {
  background-image: url("/images/fondo2.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.baseButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.1s;
}
.baseButton:hover {
  background-color: #78cc7b;
  padding: 10px 30px; 
}

.imgLogo{
  position: absolute;
  top: 10%;
  left: 30%;
}

.baseText{
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.registroText{
  font-size: 1em;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}