<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="registrar_producto">
		<p>Nombre :<input type='text' name='name' /></p>
		<p>Precio :<input type='number' name='price' /></p>
		<p>Tipo :<input type='text' name='categoty' /></p>
		<p>Descripcion :</p>
		<textarea rows='4' cols='50' name='descripcion'></textarea>
		<p>Stock:</p> <input type='number' name='stock'>
	    <input type='submit' value='Registrar' />
	    {{#error}}
	    <p> El producto que intenta registrar ya existe. Por favor revise los datos</p>
	    {{/error}}
</form>
</body>
</html>