<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<div class="baseText">
		<p>¡El producto se ha borrado con exito!</p>
		<form action="catalogo">
		<input type="hidden" name="numPag" value="1" />
			<input type= 'submit' class="baseButton" value='Volver al catalogo'/>
		</form>
		<form action="baja_producto">
			<input type= 'submit' class="baseButton" value='Borrar otro producto'/>
		</form>
	</div>
</div>
</body>
</html>