<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<div class="baseText">
		<p>¡Se ha borrado con exito!</p>
		{{#catalogo}}
		<form action="catalogo">
			<input type="hidden" name="numPag" value="0" readonly/>
				<input type= 'submit' class="baseButton" value='Volver al catalogo'/>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
		{{/catalogo}}
		{{#usuario}}
		<form action="catalogo">
			<input type="hidden" name="numPag" value="0" readonly/>
				<input type= 'submit' class="baseButton" value='Volver al catalogo'/>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
		{{/usuario}}
		{{#mascota}}
		<form action="registro_mascotas">
			<input type="hidden" name="numPag" value="0" readonly/>
				<input type= 'submit' class="baseButton" value='Volver al registro'/>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
		{{/mascota}}
	</div>
</div>
</body>
</html>