<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<div class="registroText">
		<form action="busqueda_avanzada_mascota">
				<p>Nombre :</p><input type='text' name='nombre' />
				<br>
				<p>DNI propietario:</p><input type='text' name='document' />
				<br>
				<p>Clinica :</p><input type='text' name='clinica' />
				<br>
				<p>Especie :</p><input type='text' name='especie' />
				<br>
				
				<input type="hidden" name="numPag" value="0"/>
				<input type='submit' class="baseButton" value='Enviar' />
				<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
	</div>
</div>
</body>
</html>