<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	{{#productos}}
		{{name}}
		{{price}}
		{{description}}
		{{stock}}
		<form action="aniadir_carrito">
			<input type="hidden" name= {{name}} readonly/>
			<input type="submit" value="Añadir al carrito"> 
		</form>
	{{/productos}}
	<form action="busqueda_producto">
		<input type= 'submit' value='Busqueda Avanzada'/>
	</form>
	{{#trabajador}}
	<form action="alta_producto">
		<input type= 'submit' value='Registrar un Producto'/>
	</form>
	{{/trabajador}}
</body>
</html>