<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<div class="registroText">
		<form action="mascota_baja">
				<p>Propietario :</p><input type='text' name='owner' />
				<p>Nombre :</p><input type="text" name='name' />
				<p>Especie :</p><input type="text" name='especie' />
				<p>Raza :</p><input type="text" name='raza' />
				<p>Color :</p><input type="text" name='color' />
				<br>
				<br>
				<input type='submit' class="baseButton" value='Dar de baja' />
	</div>
</div>
</form>
</body>
</html>