<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<img class="imgLogo" src="/images/logo.png">
	<div class="baseText">
		<p>Bienvenido a la clinica</p>
		<form action="registrar_mascota"><input type="submit" class="baseButton" value='Alta' /></form>
		<br>
		<form action="retirar_mascota"><input type="submit" class="baseButton" value='Baja' /></form>
	</div>
</div>		
</body>
</html>