<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<div class="registroText">
	{{#fail}}
		No existe registrado el usuario
	{{/fail}}
		<form action="mascota_alta">
				<p>Documento del Propietario :</p><input type='text' name='ownerDoc' />
				<p>Nombre :</p><input type="text" name='name' />
				<p>Especie :</p><input type="text" name='especie' />
				<p>Raza :</p><input type="text" name='raza' />
				<p>Color :</p><input type="text" name='color' />
				<br>
				<br>
				<input type='submit' class="baseButton" value='Dar de alta' />
				<input type="hidden" name="_csrf" value="{{token}}"/>
				
		</form>
		<form action=clinica>
			<input type='submit' class="baseButton" value='Volver' />
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
	</div>
</div>
</body>
</html>