<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<img class="imgLogo" src="/images/logo.png">
	<div class="baseText">
		<p>Bienvenido a la clinica</p>
		<form action="registro_mascotas">
		
		<input type="submit" class="baseButton" value='Mascotas Registradas' />
		<input type="hidden" name=numPag value="0"readonly/>
		<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
		<br>
		<form action="registrar_mascota">
		<input type="submit" class="baseButton" value='Dar de alta una mascota' />
		<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
		
		
	</div>
</div>		
</body>
</html>