<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
<div class="registroText">
		<p>¡Estamos preparando su pedido!</p>
		<p>La enviaremos un mensaje con los datos de su compra</p>
		<form action="greeting">
				<input type= 'submit' class="baseButton" value='Volver a pagina principal'/>
				<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
		</div>
</div>
</body>
</html>