<!DOCTYPE html>
<html>

<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body >
<div class="baseImage">
	<img class="imgLogo" src="/images/logo.png">
	<div class="baseText">
		<p>Bienvenido a Amigo Animal</p>
		<form action="signin"><input type="submit" class="baseButton" value='Iniciar Sesion' /></form>
		<form action="signup"><input type="submit" class="baseButton" value='Registrarse' /></form>
		<form action="catalogo"><input type="hidden" name="numPag" value="1"/><input type="submit" class="baseButton" value='Tienda' /></form>
		<form action="clinica"><input type="submit" class="baseButton" value='Clinica Veterinaria' /></form>
	</div>
</div>
</body>
</html>