<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="cambiar_mascota">
<div class="baseImage">
	<div class="registroText">
		<input type="hidden" name=id value= {{id}} readonly/>
		<p>Dueño: </p><input type="text" name=owner value= {{owner}} readonly >
		<p>Nombre: </p><input type='text' name='name' class="baseButton" value={{name}} >
		<p>Especie: </p><input type='text' name='especie' class="baseButton" value={{especie}} >
		<p>Raza: </p><input type='text' name='raza' class="baseButton" value={{raza}} >
		<p>Color: </p> <input type='text' name='color' class="baseButton" value={{color}} >
		<p>Registro: </p> <textarea rows="10" cols="40" readonly>{{registro}}</textarea>
		<p>Nueva entrada: </p><textarea rows="5" cols="40" name='registro' ></textarea>
		<p>Editor:<input type='text' name='clinica' class="baseButton" /></p>
		<br>
	    <input type='submit' class="baseButton"	value='Modificar' />
	
	    
	</div>
</div> 
</form>
</body>
</html>