<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="cambiar_producto">
	{{#producto}}
		<input type="hidden" name= {{id}} readonly/>
		<p>Nombre :<input type='text' name='name' value={{nombre}} /></p>
		<p>Precio :<input type='number' name='price' value={{precio}} /></p>
		<p>Tipo :<input type='text' name='categoty' value={{tipo}}/></p>
		<p>Descripcion :</p>
		<textarea rows='4' cols='50' name='descripcion' >{{descripcion}}</textarea>
		<p>Stock:</p> <input type='number' name='stock' value={{stock}}>
	    <input type='submit' value='Modificar' />
	    {{#error}}
	    <p> El producto que intenta registrar ya existe. Por favor revise los datos</p>
	    {{/error}}
</form>
</body>
</html>