<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="css/cssBase.css">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="baseImage">
	<div class="registroText">
		<form action="continuacion_registro">
			<p>Login</p><input type="text" name= "login" value = {{login}} readonly/>
			<p>Email</p><input type="text" name="email" value= {{email}} readonly/>
			<input type ="hidden" name="contrasena" value={{contrasena}} />
			<p>Nombre :</p><input type='text' name='nombre' />
			<p>Documento :</p><input type='text' name='documento' />	
			<br>
			<input type='submit' value='Enviar' />
			
		</form>
	</div>	
</div>
</body>
</html>